#C_experience p{
	font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 300;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 30px;
	font-size: 16px;
	transition: .3s linear;
}
#C_experience p:hover{
	color: #17e7a4;
}

#C_experience a{
	text-decoration: none;
}
#C_experience h2{
	font-size: 16px;
    letter-spacing: 2px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 0;
}
.li_after_C{
	width: 100%;
	height: 100%;

	border-radius: 0 0 7px 7px;
	background-color: #17e7a4;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	opacity: 1;
	transition:  0.5s linear; 
}